/* screen - setuptime */

.setuptime {
  align-items: flex-start;
  display: flex;
  height: 900px;
  min-width: 375px;
  overflow-x: hidden;
}

.setuptime .overlap-group3 {
  height: 994px;
  position: relative;
  width: 377px;
}

.setuptime .overlap-group {
  height: 994px;
  left: 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.setuptime .menu {
  align-items: center;
  background-color: var(--neutral02);
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 994px;
  left: 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.setuptime .navigation {
  align-items: center;
  background-color: var(--neutral02);
  cursor: pointer;
  display: flex;
  gap: 1145px;
  height: 88px;
  left: 278px;
  padding: 0px 40px;
  position: absolute;
  top: 0;
  width: 97px;
}

.setuptime .offer {
  cursor: pointer;
  height: 55px;
  left: 24px;
  position: absolute;
  top: 30px;
  width: 58px;
}

.setuptime .title {
  color: var(--neutral07);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-weight: 600;
  left: 24px;
  letter-spacing: -0.64px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 127px;
  white-space: nowrap;
  width: 327px;
}

.setuptime .frame-87 {
  align-items: flex-start;
  background-color: #e5eef1;
  border-radius: 12px;
  display: flex;
  height: 224px;
  left: 20px;
  overflow: hidden;
  position: absolute;
  top: 215px;
  width: 335px;
}

.setuptime .overlap-group-1 {
  align-items: flex-start;
  background-image: url(../img/8-shadow.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  margin-left: -3px;
  margin-top: -65px;
  min-width: 342px;
}

.setuptime .x8_obj {
  height: 342px;
  object-fit: cover;
  width: 342px;
}

.setuptime .setup-time-allows {
  color: var(--neutral04);
  font-weight: 500;
  left: 35px;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 775px;
  width: 306px;
}

.setuptime .overlap-group1 {
  background-color: var(--white);
  border-radius: 30px;
  height: 60px;
  left: 82px;
  position: absolute;
  top: 585px;
  width: 212px;
}

.setuptime .tom {
  left: 116px;
  letter-spacing: 0.56px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}

.setuptime .to {
  color: var(--black);
  font-size: var(--font-size-xl);
  left: 83px;
  letter-spacing: 0.48px;
  top: 12px;
  white-space: nowrap;
  width: 43px;
}

.setuptime .toh {
  left: 66px;
  letter-spacing: 0.56px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}

.setuptime .to-1 {
  color: var(--neutral07);
  font-size: var(--font-size-l);
  left: 23px;
  letter-spacing: -0.40px;
  top: 545px;
  width: 327px;
}

.setuptime .from-container {
  background-color: var(--white);
  border-radius: 30px;
  height: 60px;
  left: 82px;
  position: absolute;
  top: 482px;
  width: 212px;
}

.setuptime .fromm {
  left: 115px;
  letter-spacing: 0.56px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}

.setuptime .from {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 400;
  left: 83px;
  letter-spacing: 0.48px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
  width: 43px;
}

.setuptime .fromh {
  left: 66px;
  letter-spacing: 0.56px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}

.setuptime .button {
  align-items: center;
  background-color: var(--color01);
  border-radius: 48px;
  box-shadow: inset 0px 1px 0px #ffffff1a;
  display: flex;
  gap: 8px;
  height: 48px;
  justify-content: center;
  left: 143px;
  padding: 12px 24px;
  position: absolute;
  top: 688px;
  width: 87px;
}

.setuptime .button-1 {
  color: var(--neutral01);
  font-weight: 600;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.setuptime .to-2 {
  font-family: var(--font-family-poppins);
  font-weight: 400;
  line-height: 36px;
  position: absolute;
  text-align: center;
}
